In [1]:
import re
import pandas as pd

# 데이터 합치기

In [2]:

# 합칠 데이터 프레임
data = pd.DataFrame(data=[], columns=['맥주정보', '검색이름', '맥주이름'])

# 수집한 파일의 개수
files_cnt = 73

for i in range(files_cnt):

    try : 
        tmp = pd.read_csv(r'C:\Users\User\졸작\beer_n_n\beer_n_'+str(i)+'.csv', index_col=0)
        data = pd.concat([data,tmp])
    # 오류 발생 시 넘기기
    except :
        print(i, '번째에서 오류 발생')


data.to_csv('beer_df.csv', encoding='utf-8')

In [3]:
df=pd.read_csv('beer_df.csv',encoding='utf-8',index_col=0)

# 크롤링 데이터

In [4]:
#인덱스 리셋시켜주고 인덱스 열 삭제
df.reset_index(drop=True,inplace=True)

In [5]:
df

,맥주정보,검색이름,맥주이름
0,"vinivini(9,584)\n🇧🇾Homiel, Belarus\n2.9Decembe...",kloud,Kloud Original Gravity
1,"italianjohn(5,521)\n🇺🇸Penndel, United States\n...",kloud,Kloud Original Gravity
2,"orda(296)\n🇺🇸Aurora, United States\n3.9August ...",kloud,Kloud Original Gravity
3,"Radek Kliber(8,125)\n🇨🇦Toronto (Can) Krotoszyn...",kloud,Kloud Original Gravity
4,"geologyguy(2,602)\n🇺🇸Columbia, United States\n...",kloud,Kloud Original Gravity
...,...,...,...
76957,"Shadallion(534)\n🇺🇸Sacramento, United States\n...",Erdinger Dunkel,Erdinger Weissbier Dunkel
76958,"loucynt(101)\n🇺🇸United States\n4.2May 16, 2001...",Erdinger Dunkel,Erdinger Weissbier Dunkel
76959,"karl(157)\n🇺🇸Glendale, United States\n4.0Novem...",Erdinger Dunkel,Erdinger Weissbier Dunkel
76960,"jamidwyer99(49)\n🇺🇸United States\n4.6July 4, 2...",Erdinger Dunkel,Erdinger Weissbier Dunkel
76961,"Bov(14,982)\n🇨🇭Bienne, Switzerland\n2.5October...",Erdinger Dunkel,Erdinger Weissbier Dunkel

In [6]:
df_1=df.copy()

In [7]:
###맥주의 리뷰,평점, 맛 척도등 전부 들어가있다.
df_1['맥주정보'].iloc[0]

'vinivini(9,584)\n🇧🇾Homiel, Belarus\n2.9December 29, 2022\nStraight from the can.\nClean, malty, bready & grassy. Light sweet, light to medium bitter.\nMouth feel: light to medium body, avera to lively carbonation.\nSummary: ok lager\nShow less\nCAN\nAroma\n5\nAppearance\n4\nFlavor\n6\nMouthfeel\n4\nOverall\n10'

In [8]:
# \n 개행문자 기준으로 분리
df_1['맥주정보'] = df_1['맥주정보'].str.split('\n')

In [9]:
df_1['맥주정보'].iloc[10]

['GuideDogSaint(3,470)',
 '🇨🇳Xiamen, China',
 '2.2February 8, 2020',
 'Small can from a supermarket in Phnom Penh. Pours golden yellow with a dissipating white head. Aroma of malt. Hint of lemon in the sweet taste. Sweet finish.',
 'Aroma',
 '4',
 'Appearance',
 '2',
 'Flavor',
 '5',
 'Mouthfeel',
 '2',
 'Overall',
 '9']

In [10]:
### 마지막값이 좋아요로 인해 1로 하나 더생김
df_1['맥주정보'].iloc[16]

['Viper666.Qc(10,517)',
 '🇨🇦Richelieu, Canada',
 '2.7September 6, 2019',
 'Dégustée le 2019-08-19.                                                                                                                                             .',
 'BOTTLE',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '10',
 '1']

In [11]:
# 전체 데이터프레임에서 좋아요가 1개인 것 찾아서 맨 뒤에 것 삭제
df_1['맥주정보'] = df_1['맥주정보'].apply(lambda x : x if x[-2]=='Overall' else x[:-1] )

In [12]:
#1이사라짐(좋아요)
df_1['맥주정보'].iloc[16]

['Viper666.Qc(10,517)',
 '🇨🇦Richelieu, Canada',
 '2.7September 6, 2019',
 'Dégustée le 2019-08-19.                                                                                                                                             .',
 'BOTTLE',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '10']

In [13]:
# 특정 문자열 제거하기
target_string = ['Show less', 'CAN','BOTTLE','CASK']  # 제거할 문자열
df_1['맥주정보'] = df_1['맥주정보'].apply(lambda x: [item for item in x if all(target not in item for target in target_string)])

In [14]:
df_1['맥주정보']

0        [vinivini(9,584), 🇧🇾Homiel, Belarus, 2.9Decemb...
1        [italianjohn(5,521), 🇺🇸Penndel, United States,...
2        [orda(296), 🇺🇸Aurora, United States, 3.9August...
3        [Radek Kliber(8,125), 🇨🇦Toronto (Can) Krotoszy...
4        [geologyguy(2,602), 🇺🇸Columbia, United States,...
                               ...
76957    [Shadallion(534), 🇺🇸Sacramento, United States,...
76958    [loucynt(101), 🇺🇸United States, 4.2May 16, 200...
76959    [karl(157), 🇺🇸Glendale, United States, 4.0Nove...
76960    [jamidwyer99(49), 🇺🇸United States, 4.6July 4, ...
76961    [Bov(14,982), 🇨🇭Bienne, Switzerland, 2.5Octobe...
Name: 맥주정보, Length: 76962, dtype: object

In [15]:
len(df_1['맥주정보'].iloc[55])

14

In [16]:
df_1['맥주정보'].iloc[1][3]

'Clear golden blonde pour with a thin white head and spots of lacing …. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon … taste is of the same, lemon, little floral, sweet caramel malts, grape and light bitter citrusy hops …. Drinks bigger than a regular lager …. Definitely see the German ingredients in this brew … sessionable little lager'

In [17]:
#15이상인거 리뷰 합치기(리뷰가 안붙어있어서 길이가 14이면 리뷰가 하나로 되어있음 15이상은 리뷰가 안붙어있어서 붙여야됨)
for i in range(len(df_1['맥주정보'])):
    if len(df_1['맥주정보'].iloc[i]) > 14:
        a = df_1['맥주정보'].iloc[i][3:-10]
        merged_text = ' '.join(a)
        df_1['맥주정보'].iloc[i] = df_1['맥주정보'].iloc[i][:3] + [merged_text] + df_1['맥주정보'].iloc[i][-10:]

In [18]:
df__f=df_1.copy()

In [19]:
import re

In [20]:
#정규표현식
reg = re.compile('[0-9]+.+[0-9]+[A-Za-z0-9]*')

### 레이팅, 맛척도4가지 전처리

In [21]:
import re

df__f['ID'] = df__f['맥주정보'].apply(lambda x: x[0])

for i in range(len(df__f['맥주정보'])):
    if len(df__f['맥주정보'].iloc[i]) == 14 and not reg.match(df__f['맥주정보'].iloc[i][1]):
        df__f.loc[i, 'date rating'] = df__f['맥주정보'].iloc[i][2]
    elif len(df__f['맥주정보'].iloc[i]) == 14 and reg.match(df__f['맥주정보'].iloc[i][1]):
        df__f.loc[i, 'date rating'] = df__f['맥주정보'].iloc[i][1]
    elif len(df__f['맥주정보'].iloc[i]) == 13:                                            
        df__f.loc[i, 'date rating'] = df__f['맥주정보'].iloc[i][1]
        
for i in range(len(df__f['맥주정보'])):
    if len(df__f['맥주정보'].iloc[i]) == 14 and not reg.match(df__f['맥주정보'].iloc[i][1]):
        df__f.loc[i, 'review'] = df__f['맥주정보'].iloc[i][3]
    elif len(df__f['맥주정보'].iloc[i]) == 14 and reg.match(df__f['맥주정보'].iloc[i][1]):
        df__f.loc[i, 'review'] = df__f['맥주정보'].iloc[i][2]
    elif len(df__f['맥주정보'].iloc[i]) == 13: 
        df__f.loc[i, 'review'] = df__f['맥주정보'].iloc[i][2]
        
for i in range(len(df__f['맥주정보'])):
    if len(df__f['맥주정보'].iloc[i]) == 14 and not reg.match(df__f['맥주정보'].iloc[i][1]):
        df__f.loc[i, 'Aroma'] = df__f['맥주정보'].iloc[i][5]
    elif len(df__f['맥주정보'].iloc[i]) == 14 and reg.match(df__f['맥주정보'].iloc[i][1]):
        df__f.loc[i, 'Aroma'] = df__f['맥주정보'].iloc[i][4]
    elif len(df__f['맥주정보'].iloc[i]) == 13: 
        df__f.loc[i, 'Aroma'] = df__f['맥주정보'].iloc[i][4]
for i in range(len(df__f['맥주정보'])):
    if len(df__f['맥주정보'].iloc[i]) == 14 and not reg.match(df__f['맥주정보'].iloc[i][1]):
        df__f.loc[i, 'Appearance'] = df__f['맥주정보'].iloc[i][7]
    elif len(df__f['맥주정보'].iloc[i]) == 14 and reg.match(df__f['맥주정보'].iloc[i][1]):
        df__f.loc[i, 'Appearance'] = df__f['맥주정보'].iloc[i][6]
    elif len(df__f['맥주정보'].iloc[i]) == 13: 
        df__f.loc[i, 'Appearance'] = df__f['맥주정보'].iloc[i][6]
            
for i in range(len(df__f['맥주정보'])):
    if len(df__f['맥주정보'].iloc[i]) == 14 and not reg.match(df__f['맥주정보'].iloc[i][1]):
        df__f.loc[i, 'Flavor'] = df__f['맥주정보'].iloc[i][9]
    elif len(df__f['맥주정보'].iloc[i]) == 14 and reg.match(df__f['맥주정보'].iloc[i][1]):
        df__f.loc[i, 'Flavor'] = df__f['맥주정보'].iloc[i][8]
    elif len(df__f['맥주정보'].iloc[i]) == 13:       
        df__f.loc[i, 'Flavor'] = df__f['맥주정보'].iloc[i][8]   
        
for i in range(len(df__f['맥주정보'])):
    if len(df__f['맥주정보'].iloc[i]) == 14 and not reg.match(df__f['맥주정보'].iloc[i][1]):
        df__f.loc[i, 'Mouthfeel'] = df__f['맥주정보'].iloc[i][11]
    elif len(df__f['맥주정보'].iloc[i]) == 14 and reg.match(df__f['맥주정보'].iloc[i][1]):
        df__f.loc[i, 'Mouthfeel'] = df__f['맥주정보'].iloc[i][10]
    elif len(df__f['맥주정보'].iloc[i]) == 13:
        df__f.loc[i, 'Mouthfeel'] = df__f['맥주정보'].iloc[i][10]

In [22]:
df__f

,맥주정보,검색이름,맥주이름,ID,date rating,review,Aroma,Appearance,Flavor,Mouthfeel
0,"[vinivini(9,584), 🇧🇾Homiel, Belarus, 2.9Decemb...",kloud,Kloud Original Gravity,"vinivini(9,584)","2.9December 29, 2022","Straight from the can. Clean, malty, bready & ...",5,4,6,4
1,"[italianjohn(5,521), 🇺🇸Penndel, United States,...",kloud,Kloud Original Gravity,"italianjohn(5,521)","2.8September 6, 2021",Clear golden blonde pour with a thin white hea...,5,3,5,3
2,"[orda(296), 🇺🇸Aurora, United States, 3.9August...",kloud,Kloud Original Gravity,orda(296),"3.9August 29, 2021",Appearance: golden amber; slight head Taste: d...,10,5,10,5
3,"[Radek Kliber(8,125), 🇨🇦Toronto (Can) Krotoszy...",kloud,Kloud Original Gravity,"Radek Kliber(8,125)","2.4June 5, 2021","Bottle 330 ml Aroma: nice, fresh, on dry sid...",6,3,4,2
4,"[geologyguy(2,602), 🇺🇸Columbia, United States,...",kloud,Kloud Original Gravity,"geologyguy(2,602)","2.3May 26, 2021",Smell is light of malt...taste is a that malt ...,4,3,4,3
...,...,...,...,...,...,...,...,...,...,...
76957,"[Shadallion(534), 🇺🇸Sacramento, United States,...",Erdinger Dunkel,Erdinger Weissbier Dunkel,Shadallion(534),"1.7May 26, 2001","Don't know what these other guys are drinking,...",3,4,2,3
76958,"[loucynt(101), 🇺🇸United States, 4.2May 16, 200...",Erdinger Dunkel,Erdinger Weissbier Dunkel,loucynt(101),"4.2May 16, 2001",.................................................,8,5,8,4
76959,"[karl(157), 🇺🇸Glendale, United States, 4.0Nove...",Erdinger Dunkel,Erdinger Weissbier Dunkel,karl(157),"4.0November 17, 2000",.................................................,7,4,8,4
76960,"[jamidwyer99(49), 🇺🇸United States, 4.6July 4, ...",Erdinger Dunkel,Erdinger Weissbier Dunkel,jamidwyer99(49),"4.6July 4, 2000",.................................................,9,4,9,5
76961,"[Bov(14,982), 🇨🇭Bienne, Switzerland, 2.5Octobe...",Erdinger Dunkel,Erdinger Weissbier Dunkel,"Bov(14,982)","2.5October 23, 2003","dark brown colour, giant creamy head, buttery,...",5,5,5,2

In [ ]:
# 평점은 0번째부터 3번째슬라이싱 
# 날짜는 그 이후 문자열로 처리
df__f['rating'] = df__f['date rating'].apply(lambda x : x[:3])
df__f['date'] = df__f['date rating'].apply(lambda x : x[3:])        
        

#점수가 없고 리뷰가 없는 데이터는 삭제
df__f = df__f[df__f['Aroma']!='-']
df__f = df__f[df__f['Appearance']!='-']
df__f = df__f[df__f['Flavor']!='-']
df__f = df__f[df__f['Mouthfeel']!='-']
df__f = df__f[df__f['review']!='............................................................................']

In [26]:
#널값있는지 확인
null_counts = df__f.isnull().sum()
print(null_counts)

맥주정보           0
검색이름           0
맥주이름           0
ID             0
date rating    0
review         0
Aroma          0
Appearance     0
Flavor         0
Mouthfeel      0
rating         0
date           0
dtype: int64

In [28]:
# 필요한 컬럼만 추출
df__f['beer_name']=df__f['맥주이름']
df__f = df__f[['ID', 'beer_name', 'date', 'rating','review', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel']]

In [30]:
df__f.to_csv('전처리중간df.csv', index=False)

In [32]:
###점수를 부여하지않아 크롤링이안되어 점수값에 스트링이 들어가서 형변환 어려움

In [ ]:
#숫자아닌 문자는 삭제
df__f=df__f[df__f['Aroma'].str.isdigit()]
df__f=df__f[df__f['Appearance'].str.isdigit()]
df__f=df__f[df__f['Flavor'].str.isdigit()]
df__f=df__f[df__f['Mouthfeel'].str.isdigit()]

# 수치형 데이터는 실수로 변환 : pd.to_numeric() 함수 사용
df__f['Aroma'] = pd.to_numeric(df__f['Aroma'])
df__f['Appearance'] = pd.to_numeric(df__f['Appearance'])
df__f['Flavor'] = pd.to_numeric(df__f['Flavor'])
df__f['Mouthfeel'] = pd.to_numeric(df__f['Mouthfeel'])

In [36]:
df__f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74464 entries, 0 to 76961
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          74464 non-null  object
 1   beer_name   74464 non-null  object
 2   date        74464 non-null  object
 3   rating      74464 non-null  object
 4   review      74464 non-null  object
 5   Aroma       74464 non-null  int64
 6   Appearance  74464 non-null  int64
 7   Flavor      74464 non-null  int64
 8   Mouthfeel   74464 non-null  int64
dtypes: int64(4), object(5)
memory usage: 5.7+ MB

In [37]:
###알코올 추가로 크롤링한 부분 합치기
a_df=pd.read_csv('알코올.csv')

In [38]:
a_df

                                    beer_name alcohol
0                      Kloud Original Gravity    5.0%
1                      Kloud Fitz Super Clear    4.5%
2                             Asahi Super Dry    5.0%
3                                    Tsingtao    5.0%
4                                    Heineken    5.0%
..                                        ...     ...
64  Berliner Kindl Jubiläums Pilsener Premium    5.1%
65                               Burgemeester    4.8%
66                                   Red Rock    5.0%
67                  Erdinger Weissbier Dunkel    5.3%
68                   Warsteiner Premium Verum    4.8%

[69 rows x 2 columns]

In [39]:
#알코올을 붙여주기위해서 왼쪽기준(본 df)으로 붙여줌
merged_df = pd.merge(df__f, a_df[['beer_name', 'alcohol']], on='beer_name', how='left')

In [40]:
merged_df['alcohol'].isnull().sum()

32

In [41]:
merged_df['alcohol'].value_counts()

alcohol
5.0%    26973
4.9%     9499
4.2%     6275
5.3%     5325
4.4%     4236
5.5%     3724
4.8%     3026
4.7%     2931
6.5%     2420
5.1%     1966
4.6%     1736
3.8%     1089
5.2%     1017
5.9%      872
2.5%      716
3.0%      582
4.3%      482
4.5%      450
8.6%      363
7.5%      308
3.5%      196
0.4%      179
0.5%       28
2.0%       22
5.4%       17
Name: count, dtype: int64

In [42]:
#알코올이 넓값인 맥주 리뷰개수가 적기때문에 삭제
merged_df[merged_df['alcohol'].isnull()]['beer_name']
merged_df.dropna(axis=0,inplace=True)

32046             Hoegaarden Cherry
32047             Hoegaarden Cherry
32048             Hoegaarden Cherry
32049             Hoegaarden Cherry
32050             Hoegaarden Cherry
32051             Hoegaarden Cherry
32273    Bright Leaf Peeper Red IPA
32274    Bright Leaf Peeper Red IPA
32275    Bright Leaf Peeper Red IPA
32276    Bright Leaf Peeper Red IPA
32277    Bright Leaf Peeper Red IPA
32278    Bright Leaf Peeper Red IPA
56126                        FiLite
56127                        FiLite
56128                        FiLite
56129                        FiLite
56130                        FiLite
56131                        FiLite
56132                        FiLite
56133                        FiLite
56134                        FiLite
56472                  Egger Zwickl
56473                  Egger Zwickl
56474                  Egger Zwickl
56475                  Egger Zwickl
56476                  Egger Zwickl
56477                  Egger Zwickl
56478                  Egger Zwickl
56479                  Egger Zwickl
56480                  Egger Zwickl
56481                  Egger Zwickl
71260            Platinum White Ale
Name: beer_name, dtype: object

In [44]:
#알코올 숫자뽑기
merged_df['alcohol'] = merged_df['alcohol'].apply(lambda x: x[0:3] if x else None)

In [45]:
merged_df['alcohol'].value_counts()

alcohol
5.0    26973
4.9     9499
4.2     6275
5.3     5325
4.4     4236
5.5     3724
4.8     3026
4.7     2931
6.5     2420
5.1     1966
4.6     1736
3.8     1089
5.2     1017
5.9      872
2.5      716
3.0      582
4.3      482
4.5      450
8.6      363
7.5      308
3.5      196
0.4      179
0.5       28
2.0       22
5.4       17
Name: count, dtype: int64

In [46]:
merged_df['alcohol'] = pd.to_numeric(merged_df['alcohol'])

### 전처리 후 저장

In [48]:
merged_df

,ID,beer_name,date,rating,review,Aroma,Appearance,Flavor,Mouthfeel,alcohol
0,"vinivini(9,584)",Kloud Original Gravity,"December 29, 2022",2.9,"Straight from the can. Clean, malty, bready & ...",5,4,6,4,5.0
1,"italianjohn(5,521)",Kloud Original Gravity,"September 6, 2021",2.8,Clear golden blonde pour with a thin white hea...,5,3,5,3,5.0
2,orda(296),Kloud Original Gravity,"August 29, 2021",3.9,Appearance: golden amber; slight head Taste: d...,10,5,10,5,5.0
3,"Radek Kliber(8,125)",Kloud Original Gravity,"June 5, 2021",2.4,"Bottle 330 ml Aroma: nice, fresh, on dry sid...",6,3,4,2,5.0
4,"geologyguy(2,602)",Kloud Original Gravity,"May 26, 2021",2.3,Smell is light of malt...taste is a that malt ...,4,3,4,3,5.0
...,...,...,...,...,...,...,...,...,...,...
74459,trappist12(199),Erdinger Weissbier Dunkel,"August 25, 2001",3.7,"Overall, a good beer. Nice and dark with a bea...",7,4,7,3,5.3
74460,"Gusler(2,653)",Erdinger Weissbier Dunkel,"July 7, 2001",4.3,"Been a while since i sampled a Erdinger, still...",8,5,8,5,5.3
74461,"Oakes(28,941)",Erdinger Weissbier Dunkel,"May 26, 2001",3.1,"Very creamy, with a big foam topping and lucio...",5,5,5,4,5.3
74462,Shadallion(534),Erdinger Weissbier Dunkel,"May 26, 2001",1.7,"Don't know what these other guys are drinking,...",3,4,2,3,5.3
74463,"Bov(14,982)",Erdinger Weissbier Dunkel,"October 23, 2003",2.5,"dark brown colour, giant creamy head, buttery,...",5,5,5,2,5.3

In [ ]:

f_df.to_csv('merged_df.csv',index=False)