In [1]:
import re
import pandas as pd

# Îç∞Ïù¥ÌÑ∞ Ìï©ÏπòÍ∏∞

In [2]:

# Ìï©Ïπ† Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ
data = pd.DataFrame(data=[], columns=['Îß•Ï£ºÏ†ïÎ≥¥', 'Í≤ÄÏÉâÏù¥Î¶Ñ', 'Îß•Ï£ºÏù¥Î¶Ñ'])

# ÏàòÏßëÌïú ÌååÏùºÏùò Í∞úÏàò
files_cnt = 73

for i in range(files_cnt):

    try : 
        tmp = pd.read_csv(r'C:\Users\User\Ï°∏Ïûë\beer_n_n\beer_n_'+str(i)+'.csv', index_col=0)
        data = pd.concat([data,tmp])
    # Ïò§Î•ò Î∞úÏÉù Ïãú ÎÑòÍ∏∞Í∏∞
    except :
        print(i, 'Î≤àÏß∏ÏóêÏÑú Ïò§Î•ò Î∞úÏÉù')


data.to_csv('beer_df.csv', encoding='utf-8')

In [3]:
df=pd.read_csv('beer_df.csv',encoding='utf-8',index_col=0)

# ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞

In [4]:
#Ïù∏Îç±Ïä§ Î¶¨ÏÖãÏãúÏºúÏ£ºÍ≥† Ïù∏Îç±Ïä§ Ïó¥ ÏÇ≠Ï†ú
df.reset_index(drop=True,inplace=True)

In [5]:
df

,Îß•Ï£ºÏ†ïÎ≥¥,Í≤ÄÏÉâÏù¥Î¶Ñ,Îß•Ï£ºÏù¥Î¶Ñ
0,"vinivini(9,584)\nüáßüáæHomiel, Belarus\n2.9Decembe...",kloud,Kloud Original Gravity
1,"italianjohn(5,521)\nüá∫üá∏Penndel, United States\n...",kloud,Kloud Original Gravity
2,"orda(296)\nüá∫üá∏Aurora, United States\n3.9August ...",kloud,Kloud Original Gravity
3,"Radek Kliber(8,125)\nüá®üá¶Toronto (Can) Krotoszyn...",kloud,Kloud Original Gravity
4,"geologyguy(2,602)\nüá∫üá∏Columbia, United States\n...",kloud,Kloud Original Gravity
...,...,...,...
76957,"Shadallion(534)\nüá∫üá∏Sacramento, United States\n...",Erdinger Dunkel,Erdinger Weissbier Dunkel
76958,"loucynt(101)\nüá∫üá∏United States\n4.2May 16, 2001...",Erdinger Dunkel,Erdinger Weissbier Dunkel
76959,"karl(157)\nüá∫üá∏Glendale, United States\n4.0Novem...",Erdinger Dunkel,Erdinger Weissbier Dunkel
76960,"jamidwyer99(49)\nüá∫üá∏United States\n4.6July 4, 2...",Erdinger Dunkel,Erdinger Weissbier Dunkel
76961,"Bov(14,982)\nüá®üá≠Bienne, Switzerland\n2.5October...",Erdinger Dunkel,Erdinger Weissbier Dunkel

In [6]:
df_1=df.copy()

In [7]:
###Îß•Ï£ºÏùò Î¶¨Î∑∞,ÌèâÏ†ê, Îßõ Ï≤ôÎèÑÎì± Ï†ÑÎ∂Ä Îì§Ïñ¥Í∞ÄÏûàÎã§.
df_1['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[0]

'vinivini(9,584)\nüáßüáæHomiel, Belarus\n2.9December 29, 2022\nStraight from the can.\nClean, malty, bready & grassy. Light sweet, light to medium bitter.\nMouth feel: light to medium body, avera to lively carbonation.\nSummary: ok lager\nShow less\nCAN\nAroma\n5\nAppearance\n4\nFlavor\n6\nMouthfeel\n4\nOverall\n10'

In [8]:
# \n Í∞úÌñâÎ¨∏Ïûê Í∏∞Ï§ÄÏúºÎ°ú Î∂ÑÎ¶¨
df_1['Îß•Ï£ºÏ†ïÎ≥¥'] = df_1['Îß•Ï£ºÏ†ïÎ≥¥'].str.split('\n')

In [9]:
df_1['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[10]

['GuideDogSaint(3,470)',
 'üá®üá≥Xiamen, China',
 '2.2February 8, 2020',
 'Small can from a supermarket in Phnom Penh. Pours golden yellow with a dissipating white head. Aroma of malt. Hint of lemon in the sweet taste. Sweet finish.',
 'Aroma',
 '4',
 'Appearance',
 '2',
 'Flavor',
 '5',
 'Mouthfeel',
 '2',
 'Overall',
 '9']

In [10]:
### ÎßàÏßÄÎßâÍ∞íÏù¥ Ï¢ãÏïÑÏöîÎ°ú Ïù∏Ìï¥ 1Î°ú ÌïòÎÇò ÎçîÏÉùÍπÄ
df_1['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[16]

['Viper666.Qc(10,517)',
 'üá®üá¶Richelieu, Canada',
 '2.7September 6, 2019',
 'D√©gust√©e le 2019-08-19.                                                                                                                                             .',
 'BOTTLE',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '10',
 '1']

In [11]:
# Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóêÏÑú Ï¢ãÏïÑÏöîÍ∞Ä 1Í∞úÏù∏ Í≤É Ï∞æÏïÑÏÑú Îß® Îí§Ïóê Í≤É ÏÇ≠Ï†ú
df_1['Îß•Ï£ºÏ†ïÎ≥¥'] = df_1['Îß•Ï£ºÏ†ïÎ≥¥'].apply(lambda x : x if x[-2]=='Overall' else x[:-1] )

In [12]:
#1Ïù¥ÏÇ¨ÎùºÏßê(Ï¢ãÏïÑÏöî)
df_1['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[16]

['Viper666.Qc(10,517)',
 'üá®üá¶Richelieu, Canada',
 '2.7September 6, 2019',
 'D√©gust√©e le 2019-08-19.                                                                                                                                             .',
 'BOTTLE',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '10']

In [13]:
# ÌäπÏ†ï Î¨∏ÏûêÏó¥ Ï†úÍ±∞ÌïòÍ∏∞
target_string = ['Show less', 'CAN','BOTTLE','CASK']  # Ï†úÍ±∞Ìï† Î¨∏ÏûêÏó¥
df_1['Îß•Ï£ºÏ†ïÎ≥¥'] = df_1['Îß•Ï£ºÏ†ïÎ≥¥'].apply(lambda x: [item for item in x if all(target not in item for target in target_string)])

In [14]:
df_1['Îß•Ï£ºÏ†ïÎ≥¥']

0        [vinivini(9,584), üáßüáæHomiel, Belarus, 2.9Decemb...
1        [italianjohn(5,521), üá∫üá∏Penndel, United States,...
2        [orda(296), üá∫üá∏Aurora, United States, 3.9August...
3        [Radek Kliber(8,125), üá®üá¶Toronto (Can) Krotoszy...
4        [geologyguy(2,602), üá∫üá∏Columbia, United States,...
                               ...
76957    [Shadallion(534), üá∫üá∏Sacramento, United States,...
76958    [loucynt(101), üá∫üá∏United States, 4.2May 16, 200...
76959    [karl(157), üá∫üá∏Glendale, United States, 4.0Nove...
76960    [jamidwyer99(49), üá∫üá∏United States, 4.6July 4, ...
76961    [Bov(14,982), üá®üá≠Bienne, Switzerland, 2.5Octobe...
Name: Îß•Ï£ºÏ†ïÎ≥¥, Length: 76962, dtype: object

In [15]:
len(df_1['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[55])

14

In [16]:
df_1['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[1][3]

'Clear golden blonde pour with a thin white head and spots of lacing ‚Ä¶. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon ‚Ä¶ taste is of the same, lemon, little floral, sweet caramel malts, grape and light bitter citrusy hops ‚Ä¶. Drinks bigger than a regular lager ‚Ä¶. Definitely see the German ingredients in this brew ‚Ä¶ sessionable little lager'

In [17]:
#15Ïù¥ÏÉÅÏù∏Í±∞ Î¶¨Î∑∞ Ìï©ÏπòÍ∏∞(Î¶¨Î∑∞Í∞Ä ÏïàÎ∂ôÏñ¥ÏûàÏñ¥ÏÑú Í∏∏Ïù¥Í∞Ä 14Ïù¥Î©¥ Î¶¨Î∑∞Í∞Ä ÌïòÎÇòÎ°ú ÎêòÏñ¥ÏûàÏùå 15Ïù¥ÏÉÅÏùÄ Î¶¨Î∑∞Í∞Ä ÏïàÎ∂ôÏñ¥ÏûàÏñ¥ÏÑú Î∂ôÏó¨ÏïºÎê®)
for i in range(len(df_1['Îß•Ï£ºÏ†ïÎ≥¥'])):
    if len(df_1['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) > 14:
        a = df_1['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][3:-10]
        merged_text = ' '.join(a)
        df_1['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i] = df_1['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][:3] + [merged_text] + df_1['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][-10:]

In [18]:
df__f=df_1.copy()

In [19]:
import re

In [20]:
#Ï†ïÍ∑úÌëúÌòÑÏãù
reg = re.compile('[0-9]+.+[0-9]+[A-Za-z0-9]*')

### Î†àÏù¥ÌåÖ, ÎßõÏ≤ôÎèÑ4Í∞ÄÏßÄ Ï†ÑÏ≤òÎ¶¨

In [21]:
import re

df__f['ID'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].apply(lambda x: x[0])

for i in range(len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'])):
    if len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 14 and not reg.match(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][1]):
        df__f.loc[i, 'date rating'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][2]
    elif len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 14 and reg.match(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][1]):
        df__f.loc[i, 'date rating'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][1]
    elif len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 13:                                            
        df__f.loc[i, 'date rating'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][1]
        
for i in range(len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'])):
    if len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 14 and not reg.match(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][1]):
        df__f.loc[i, 'review'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][3]
    elif len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 14 and reg.match(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][1]):
        df__f.loc[i, 'review'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][2]
    elif len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 13: 
        df__f.loc[i, 'review'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][2]
        
for i in range(len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'])):
    if len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 14 and not reg.match(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][1]):
        df__f.loc[i, 'Aroma'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][5]
    elif len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 14 and reg.match(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][1]):
        df__f.loc[i, 'Aroma'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][4]
    elif len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 13: 
        df__f.loc[i, 'Aroma'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][4]
for i in range(len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'])):
    if len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 14 and not reg.match(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][1]):
        df__f.loc[i, 'Appearance'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][7]
    elif len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 14 and reg.match(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][1]):
        df__f.loc[i, 'Appearance'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][6]
    elif len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 13: 
        df__f.loc[i, 'Appearance'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][6]
            
for i in range(len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'])):
    if len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 14 and not reg.match(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][1]):
        df__f.loc[i, 'Flavor'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][9]
    elif len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 14 and reg.match(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][1]):
        df__f.loc[i, 'Flavor'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][8]
    elif len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 13:       
        df__f.loc[i, 'Flavor'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][8]   
        
for i in range(len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'])):
    if len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 14 and not reg.match(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][1]):
        df__f.loc[i, 'Mouthfeel'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][11]
    elif len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 14 and reg.match(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][1]):
        df__f.loc[i, 'Mouthfeel'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][10]
    elif len(df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i]) == 13:
        df__f.loc[i, 'Mouthfeel'] = df__f['Îß•Ï£ºÏ†ïÎ≥¥'].iloc[i][10]

In [22]:
df__f

,Îß•Ï£ºÏ†ïÎ≥¥,Í≤ÄÏÉâÏù¥Î¶Ñ,Îß•Ï£ºÏù¥Î¶Ñ,ID,date rating,review,Aroma,Appearance,Flavor,Mouthfeel
0,"[vinivini(9,584), üáßüáæHomiel, Belarus, 2.9Decemb...",kloud,Kloud Original Gravity,"vinivini(9,584)","2.9December 29, 2022","Straight from the can. Clean, malty, bready & ...",5,4,6,4
1,"[italianjohn(5,521), üá∫üá∏Penndel, United States,...",kloud,Kloud Original Gravity,"italianjohn(5,521)","2.8September 6, 2021",Clear golden blonde pour with a thin white hea...,5,3,5,3
2,"[orda(296), üá∫üá∏Aurora, United States, 3.9August...",kloud,Kloud Original Gravity,orda(296),"3.9August 29, 2021",Appearance: golden amber; slight head Taste: d...,10,5,10,5
3,"[Radek Kliber(8,125), üá®üá¶Toronto (Can) Krotoszy...",kloud,Kloud Original Gravity,"Radek Kliber(8,125)","2.4June 5, 2021","Bottle 330 ml Aroma: nice, fresh, on dry sid...",6,3,4,2
4,"[geologyguy(2,602), üá∫üá∏Columbia, United States,...",kloud,Kloud Original Gravity,"geologyguy(2,602)","2.3May 26, 2021",Smell is light of malt...taste is a that malt ...,4,3,4,3
...,...,...,...,...,...,...,...,...,...,...
76957,"[Shadallion(534), üá∫üá∏Sacramento, United States,...",Erdinger Dunkel,Erdinger Weissbier Dunkel,Shadallion(534),"1.7May 26, 2001","Don't know what these other guys are drinking,...",3,4,2,3
76958,"[loucynt(101), üá∫üá∏United States, 4.2May 16, 200...",Erdinger Dunkel,Erdinger Weissbier Dunkel,loucynt(101),"4.2May 16, 2001",.................................................,8,5,8,4
76959,"[karl(157), üá∫üá∏Glendale, United States, 4.0Nove...",Erdinger Dunkel,Erdinger Weissbier Dunkel,karl(157),"4.0November 17, 2000",.................................................,7,4,8,4
76960,"[jamidwyer99(49), üá∫üá∏United States, 4.6July 4, ...",Erdinger Dunkel,Erdinger Weissbier Dunkel,jamidwyer99(49),"4.6July 4, 2000",.................................................,9,4,9,5
76961,"[Bov(14,982), üá®üá≠Bienne, Switzerland, 2.5Octobe...",Erdinger Dunkel,Erdinger Weissbier Dunkel,"Bov(14,982)","2.5October 23, 2003","dark brown colour, giant creamy head, buttery,...",5,5,5,2

In [ ]:
# ÌèâÏ†êÏùÄ 0Î≤àÏß∏Î∂ÄÌÑ∞ 3Î≤àÏß∏Ïä¨ÎùºÏù¥Ïã± 
# ÎÇ†ÏßúÎäî Í∑∏ Ïù¥ÌõÑ Î¨∏ÏûêÏó¥Î°ú Ï≤òÎ¶¨
df__f['rating'] = df__f['date rating'].apply(lambda x : x[:3])
df__f['date'] = df__f['date rating'].apply(lambda x : x[3:])        
        

#Ï†êÏàòÍ∞Ä ÏóÜÍ≥† Î¶¨Î∑∞Í∞Ä ÏóÜÎäî Îç∞Ïù¥ÌÑ∞Îäî ÏÇ≠Ï†ú
df__f = df__f[df__f['Aroma']!='-']
df__f = df__f[df__f['Appearance']!='-']
df__f = df__f[df__f['Flavor']!='-']
df__f = df__f[df__f['Mouthfeel']!='-']
df__f = df__f[df__f['review']!='............................................................................']

In [26]:
#ÎÑêÍ∞íÏûàÎäîÏßÄ ÌôïÏù∏
null_counts = df__f.isnull().sum()
print(null_counts)

Îß•Ï£ºÏ†ïÎ≥¥           0
Í≤ÄÏÉâÏù¥Î¶Ñ           0
Îß•Ï£ºÏù¥Î¶Ñ           0
ID             0
date rating    0
review         0
Aroma          0
Appearance     0
Flavor         0
Mouthfeel      0
rating         0
date           0
dtype: int64

In [28]:
# ÌïÑÏöîÌïú Ïª¨ÎüºÎßå Ï∂îÏ∂ú
df__f['beer_name']=df__f['Îß•Ï£ºÏù¥Î¶Ñ']
df__f = df__f[['ID', 'beer_name', 'date', 'rating','review', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel']]

In [30]:
df__f.to_csv('Ï†ÑÏ≤òÎ¶¨Ï§ëÍ∞Ñdf.csv', index=False)

In [32]:
###Ï†êÏàòÎ•º Î∂ÄÏó¨ÌïòÏßÄÏïäÏïÑ ÌÅ¨Î°§ÎßÅÏù¥ÏïàÎêòÏñ¥ Ï†êÏàòÍ∞íÏóê Ïä§Ìä∏ÎßÅÏù¥ Îì§Ïñ¥Í∞ÄÏÑú ÌòïÎ≥ÄÌôò Ïñ¥Î†§ÏõÄ

In [ ]:
#Ïà´ÏûêÏïÑÎãå Î¨∏ÏûêÎäî ÏÇ≠Ï†ú
df__f=df__f[df__f['Aroma'].str.isdigit()]
df__f=df__f[df__f['Appearance'].str.isdigit()]
df__f=df__f[df__f['Flavor'].str.isdigit()]
df__f=df__f[df__f['Mouthfeel'].str.isdigit()]

# ÏàòÏπòÌòï Îç∞Ïù¥ÌÑ∞Îäî Ïã§ÏàòÎ°ú Î≥ÄÌôò : pd.to_numeric() Ìï®Ïàò ÏÇ¨Ïö©
df__f['Aroma'] = pd.to_numeric(df__f['Aroma'])
df__f['Appearance'] = pd.to_numeric(df__f['Appearance'])
df__f['Flavor'] = pd.to_numeric(df__f['Flavor'])
df__f['Mouthfeel'] = pd.to_numeric(df__f['Mouthfeel'])

In [36]:
df__f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74464 entries, 0 to 76961
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          74464 non-null  object
 1   beer_name   74464 non-null  object
 2   date        74464 non-null  object
 3   rating      74464 non-null  object
 4   review      74464 non-null  object
 5   Aroma       74464 non-null  int64
 6   Appearance  74464 non-null  int64
 7   Flavor      74464 non-null  int64
 8   Mouthfeel   74464 non-null  int64
dtypes: int64(4), object(5)
memory usage: 5.7+ MB

In [37]:
###ÏïåÏΩîÏò¨ Ï∂îÍ∞ÄÎ°ú ÌÅ¨Î°§ÎßÅÌïú Î∂ÄÎ∂Ñ Ìï©ÏπòÍ∏∞
a_df=pd.read_csv('ÏïåÏΩîÏò¨.csv')

In [38]:
a_df

                                    beer_name alcohol
0                      Kloud Original Gravity    5.0%
1                      Kloud Fitz Super Clear    4.5%
2                             Asahi Super Dry    5.0%
3                                    Tsingtao    5.0%
4                                    Heineken    5.0%
..                                        ...     ...
64  Berliner Kindl Jubil√§ums Pilsener Premium    5.1%
65                               Burgemeester    4.8%
66                                   Red Rock    5.0%
67                  Erdinger Weissbier Dunkel    5.3%
68                   Warsteiner Premium Verum    4.8%

[69 rows x 2 columns]

In [39]:
#ÏïåÏΩîÏò¨ÏùÑ Î∂ôÏó¨Ï£ºÍ∏∞ÏúÑÌï¥ÏÑú ÏôºÏ™ΩÍ∏∞Ï§Ä(Î≥∏ df)ÏúºÎ°ú Î∂ôÏó¨Ï§å
merged_df = pd.merge(df__f, a_df[['beer_name', 'alcohol']], on='beer_name', how='left')

In [40]:
merged_df['alcohol'].isnull().sum()

32

In [41]:
merged_df['alcohol'].value_counts()

alcohol
5.0%    26973
4.9%     9499
4.2%     6275
5.3%     5325
4.4%     4236
5.5%     3724
4.8%     3026
4.7%     2931
6.5%     2420
5.1%     1966
4.6%     1736
3.8%     1089
5.2%     1017
5.9%      872
2.5%      716
3.0%      582
4.3%      482
4.5%      450
8.6%      363
7.5%      308
3.5%      196
0.4%      179
0.5%       28
2.0%       22
5.4%       17
Name: count, dtype: int64

In [42]:
#ÏïåÏΩîÏò¨Ïù¥ ÎÑìÍ∞íÏù∏ Îß•Ï£º Î¶¨Î∑∞Í∞úÏàòÍ∞Ä Ï†ÅÍ∏∞ÎïåÎ¨∏Ïóê ÏÇ≠Ï†ú
merged_df[merged_df['alcohol'].isnull()]['beer_name']
merged_df.dropna(axis=0,inplace=True)

32046             Hoegaarden Cherry
32047             Hoegaarden Cherry
32048             Hoegaarden Cherry
32049             Hoegaarden Cherry
32050             Hoegaarden Cherry
32051             Hoegaarden Cherry
32273    Bright Leaf Peeper Red IPA
32274    Bright Leaf Peeper Red IPA
32275    Bright Leaf Peeper Red IPA
32276    Bright Leaf Peeper Red IPA
32277    Bright Leaf Peeper Red IPA
32278    Bright Leaf Peeper Red IPA
56126                        FiLite
56127                        FiLite
56128                        FiLite
56129                        FiLite
56130                        FiLite
56131                        FiLite
56132                        FiLite
56133                        FiLite
56134                        FiLite
56472                  Egger Zwickl
56473                  Egger Zwickl
56474                  Egger Zwickl
56475                  Egger Zwickl
56476                  Egger Zwickl
56477                  Egger Zwickl
56478                  Egger Zwickl
56479                  Egger Zwickl
56480                  Egger Zwickl
56481                  Egger Zwickl
71260            Platinum White Ale
Name: beer_name, dtype: object

In [44]:
#ÏïåÏΩîÏò¨ Ïà´ÏûêÎΩëÍ∏∞
merged_df['alcohol'] = merged_df['alcohol'].apply(lambda x: x[0:3] if x else None)

In [45]:
merged_df['alcohol'].value_counts()

alcohol
5.0    26973
4.9     9499
4.2     6275
5.3     5325
4.4     4236
5.5     3724
4.8     3026
4.7     2931
6.5     2420
5.1     1966
4.6     1736
3.8     1089
5.2     1017
5.9      872
2.5      716
3.0      582
4.3      482
4.5      450
8.6      363
7.5      308
3.5      196
0.4      179
0.5       28
2.0       22
5.4       17
Name: count, dtype: int64

In [46]:
merged_df['alcohol'] = pd.to_numeric(merged_df['alcohol'])

### Ï†ÑÏ≤òÎ¶¨ ÌõÑ Ï†ÄÏû•

In [48]:
merged_df

,ID,beer_name,date,rating,review,Aroma,Appearance,Flavor,Mouthfeel,alcohol
0,"vinivini(9,584)",Kloud Original Gravity,"December 29, 2022",2.9,"Straight from the can. Clean, malty, bready & ...",5,4,6,4,5.0
1,"italianjohn(5,521)",Kloud Original Gravity,"September 6, 2021",2.8,Clear golden blonde pour with a thin white hea...,5,3,5,3,5.0
2,orda(296),Kloud Original Gravity,"August 29, 2021",3.9,Appearance: golden amber; slight head Taste: d...,10,5,10,5,5.0
3,"Radek Kliber(8,125)",Kloud Original Gravity,"June 5, 2021",2.4,"Bottle 330 ml Aroma: nice, fresh, on dry sid...",6,3,4,2,5.0
4,"geologyguy(2,602)",Kloud Original Gravity,"May 26, 2021",2.3,Smell is light of malt...taste is a that malt ...,4,3,4,3,5.0
...,...,...,...,...,...,...,...,...,...,...
74459,trappist12(199),Erdinger Weissbier Dunkel,"August 25, 2001",3.7,"Overall, a good beer. Nice and dark with a bea...",7,4,7,3,5.3
74460,"Gusler(2,653)",Erdinger Weissbier Dunkel,"July 7, 2001",4.3,"Been a while since i sampled a Erdinger, still...",8,5,8,5,5.3
74461,"Oakes(28,941)",Erdinger Weissbier Dunkel,"May 26, 2001",3.1,"Very creamy, with a big foam topping and lucio...",5,5,5,4,5.3
74462,Shadallion(534),Erdinger Weissbier Dunkel,"May 26, 2001",1.7,"Don't know what these other guys are drinking,...",3,4,2,3,5.3
74463,"Bov(14,982)",Erdinger Weissbier Dunkel,"October 23, 2003",2.5,"dark brown colour, giant creamy head, buttery,...",5,5,5,2,5.3

In [ ]:

f_df.to_csv('merged_df.csv',index=False)